@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins', sans-serif;
    cursor:none;
}

body{
    background:#07141f;
    color:white;
}

/* HEADER */

header{

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:20px 8%;

    background:#04101a;

    position:fixed;

    width:100%;

    z-index:1000;
}

.logo{

    font-size:30px;
    color:#00cfff;
    font-weight:bold;
}

nav{
    display:flex;
    gap:20px;
}

nav a{

    text-decoration:none;
    color:white;

    transition:0.3s;
}

nav a:hover{
    color:#00cfff;
}

/* HERO */

.hero{

    height:100vh;

    background:
    linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.7)),
    url('https://images.unsplash.com/photo-1506744038136-46273834b3fb');

    background-size:cover;
    background-position:center;

    display:flex;
    align-items:center;
    justify-content:center;

    text-align:center;
}

.hero h1{
    font-size:70px;
}

.hero p{
    margin:20px 0;
    font-size:20px;
}

/* BOTÃO */

button{

    padding:15px 35px;

    border:none;
    border-radius:50px;

    background:#00cfff;

    color:white;

    font-size:18px;

    transition:0.4s;
}

button:hover{

    transform:scale(1.1);

    box-shadow:0 0 20px #00cfff;
}

/* CARDS */

.cards{

    display:flex;
    justify-content:center;
    gap:30px;

    flex-wrap:wrap;

    padding:100px 5%;
}

.card{

    width:300px;

    background:#0e2433;

    padding:30px;

    border-radius:20px;

    transition:0.4s;
}

.card:hover{

    transform:translateY(-10px);

    box-shadow:0 0 20px rgba(0,207,255,.5);
}

/* PÁGINAS */

.page{

    padding:150px 10%;
    min-height:100vh;
}

.page h1{

    margin-bottom:30px;

    color:#00cfff;
}

/* DICAS */

.dica{

    background:#0e2433;

    padding:25px;

    border-radius:20px;

    margin-bottom:20px;
}

/* FORM */

form{

    display:flex;
    flex-direction:column;

    gap:20px;

    max-width:600px;
}

input,
textarea{

    padding:15px;

    border:none;

    border-radius:10px;
}

textarea{
    resize:none;
    height:150px;
}

/* FOOTER */

footer{

    padding:20px;

    text-align:center;

    background:#04101a;
}

/* CURSOR PEIXE */

.peixe-cursor{

    position:fixed;

    width:40px;
    height:40px;

    background-image:url('https://png.pngtree.com/png-vector/20230919/ourmid/pngtree-fresh-nile-tilapia-or-pla-nin-in-thai-freshwater-fish-isolated-png-image_10086767.png');

    background-size:contain;
    background-repeat:no-repeat;

    pointer-events:none;

    z-index:99999;

    transform:translate(-50%, -50%);
}

/* ANIMAÇÃO */

@keyframes pulsar{

    0%{
        transform:translate(-50%, -50%) scale(1);
    }

    50%{
        transform:translate(-50%, -50%) scale(1.4);
    }

    100%{
        transform:translate(-50%, -50%) scale(1);
    }
}
