body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #dff6ff;
    color: #03396c;
}

/* Cabeçalho */
header {
    background: linear-gradient(90deg, #0288d1, #00acc1);
    color: rgb(4, 79, 122);
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 3px 8px rgba(0,0,0,0.2);
}

header h1 {
    margin: 0;
    font-size: 40px;
}

header p {
    font-size: 18px;
    margin-top: 10px;
}

/* Menu */
nav {
    background: #0277bd;
    padding: 15px;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 20px;
    font-weight: bold;
    font-size: 18px;
    transition: 0.3s;
}

nav a:hover {
    color: #f70404;
    border-bottom: 2px solid #fd0303;
    padding-bottom: 5px;
}

/* Conteúdo */
main {
    max-width: 1000px;
    margin: auto;
    padding: 25px;
}

/* Seções */
section {
    background: white;
    padding: 25px;
    margin-bottom: 25px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    transition: transform 0.3s;
}

section:hover {
    transform: scale(1.01);
}

h2 {
    color: #0288d1;
    margin-bottom: 15px;
}

/* Lista */
ul {
    list-style: square;
    padding-left: 25px;
}

li {
    margin-bottom: 10px;
    font-size: 18px;
}

/* Imagem */
img {
    width: 100%;
    border-radius: 15px;
    box-shadow: 0 3px 8px rgba(0,0,0,0.2);
}

/* Botão */
button {
    background: #00acc1;
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
}

button:hover {
    background: #00838f;
    transform: scale(1.05);
}


footer {
    background: #0288d1;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    font-size: 15px;
}